/* Centering the card on the screen */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #103c0a 0%, #08aa5e 100%);
  font-family: 'Inter', sans-serif;
}

/* The Card */
.login-card {
  background: linear-gradient(135deg, #071B37 0%, #0c2c58 100%);
  padding: 2.5rem;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-card h2 {
  margin-bottom: 0.5rem;
  color: white;
}

.login-card p {
  color: #d8d8d8;
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

/* Form Styling */
.input-group {
  text-align: left;
  margin-bottom: 1.5rem;
  
}

.input-group label {
  display: block;
  font-size: 0.85rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #d3d3d3;
}

.input-group input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.2s;
}

.input-group input:focus {
  outline: none;
  border-color: #4a90e2;
}

/* Button */
.login-button {
  width: 100%;
  padding: 0.75rem;
  background-color: gold;
  color: rgb(15, 0, 92);
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
}

.login-button:hover {
  background-color: rgb(248, 225, 95)
}

.login-button:disabled {
  background-color: rgb(86, 73, 0)
}

.login-footer {
  margin-top: 1.5rem;
  font-size: 0.85rem;
  color: #c2c2c2;
}

.login-footer a {
  color: gold;
  text-decoration: none;
}